In [25]:
import pandas as pd

In [20]:
spectral_catalogue = 'RelabDatabase2020Dec31/catalogues/Spectra_Catalogue.txt'
sample_catalogue = 'RelabDatabase2020Dec31/catalogues/Sample_Catalogue.txt'


spectra_df = pd.read_csv(spectral_catalogue, sep='\t',usecols=range(2))
sample_df = pd.read_csv(sample_catalogue, sep='\t',usecols=range(2))

In [24]:
grouped_spectra = spectra_df.groupby('SampleID')
print(grouped_spectra.first())
spectra_df

             SpectrumID
SampleID
AA-A1S-001    BIR1AA001
AA-A1S-002    BIR1AA002
AA-A1S-003    BIR1AA003
AA-A1S-004    BIR1AA004
AB-DTB-002-F     CFAB02
...                 ...
ZS-WMR-003-D     CDZS03
ZS-WMR-003-E     CEZS03
ZS-WMR-003-F     CFZS03
ZS-WMR-003-G     CGZS03
pa-cmp-005-g     NNPA5G

[12240 rows x 1 columns]

      SpectrumID      SampleID
0      BIR1AA001    AA-A1S-001
1      BKR1AA001    AA-A1S-001
2         C1AA01    AA-A1S-001
3      BIR1AA002    AA-A1S-002
4      BKR1AA002    AA-A1S-002
...          ...           ...
28102     HBZS03  ZS-WMR-003-B
28103     CDZS03  ZS-WMR-003-D
28104     CEZS03  ZS-WMR-003-E
28105     CFZS03  ZS-WMR-003-F
28106     CGZS03  ZS-WMR-003-G

[28107 rows x 2 columns]

In [15]:
sample_df

           SampleID                          SampleName
0        AA-A1S-001             Ammonium annite (4.001)
1        AA-A1S-002             Ammonium annite (4.002)
2        AA-A1S-003             Ammonium annite (4.004)
3        AA-A1S-004  Ni-bearing ammonium annite (4.005)
4        AA-TDH-005                  100% quartz pellet
...             ...                                 ...
15644  ZS-WMR-003-B                     Co(II)PS10 200C
15645  ZS-WMR-003-D              Co(II)PS10 400C <45 um
15646  ZS-WMR-003-E              Co(II)PS10 500C <45 um
15647  ZS-WMR-003-F              Co(II)PS10 600C <45 um
15648  ZS-WMR-003-G              Co(II)PS10 700C <45 um

[15649 rows x 2 columns]